:root {
    
    --main-color: #1698D9;
    --hovered-color: #2EA8E6;
    --selected-color: #D91667;
    --selected-hovered-color: #E52E7A;
    --disabled-color: #B3B3B3;
    --current-color: var(--main-color);
    --border-size: 4px;
    --corner-size: 40px;
    --card-bg-color: #F2F2F2;
}
h2 {
    text-transform: uppercase;
}

.card {
    margin-right: 80px;
    margin-bottom: 40px;
    width: 320px;
    @media screen and (min-width:640px) and (max-width:780px) {
        margin-right: 30px;
        width: 300px;
    }
    @media screen and (max-width:640px) {
        margin-right: 0;
       
    }
    @media screen and (min-width:780px) and (max-width:960px) {
        margin-right: 50px;
    }
    @media screen and (min-width:960px) and (max-width:1200px) {
        margin-right: 80px;
        margin-left: 80px;
    }
    &:nth-child(3) {
        @media screen and (min-width: 1200px) {
            margin-right: 0;
        }
    }
    &:nth-child(2) {
        @media screen and (min-width: 640px) and (max-width:960px) {
            margin-right: 0;
        }
    }
    &:last-child {
            margin-right: 0;
            margin-left: 0;
    }
    
    &__corner-wrapper {
        overflow: hidden;
        position: relative;
        clip-path: polygon(0 var(--corner-size), var(--corner-size) 0, 100% 0, 100% 100%, 0 100%);
        z-index: 1000;
        border-radius: 10px;
        
    }
    //card wrapper
    &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 480px;
    width: 100%;
    border: 4px solid var(--current-color);
    border-radius: 10px;
    cursor: pointer;
    img {
        display: none;
    }
    &.hovered {
        --current-color : var(--hovered-color);
    }
    
    &.selected {
        --current-color : var(--selected-color);
        //border: 4px solid #e81313;
        &.hovered {
            --current-color : var(--selected-hovered-color);
        }
    }
    &.disabled {
        --current-color : var(--disabled-color);
        pointer-events: none;
    }
    &:before, &:after {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
    }
    &:before {
        background: var(--current-color);
        z-index: -2;
        width: 100%;
        height: 100%;
        
    }
    &:after {

        clip-path: polygon(0 calc(var(--corner-size) ), calc(var(--corner-size)) 0, 100% 0, 100% 100%, 0 100%);
        background: var(--card-bg-color);
        border-radius: 10px;
        z-index: -1;
        
        width: 100%;
        height: 100%;
    }
    
    .card__weight-conteiner {
        z-index: 1;
        color: #fff;
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 80px;
        height: 80px;
        background-color: var(--current-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .card__pack-weight {
            color: #fff;
            font-size: 42px;
            line-height: 22px;
            margin: 0;
            padding-top: 10px;
            +p {
                //padding-top: 10px;
                font-size: 21px;
                margin: 0;
                padding-top: 5px;
            }
        }
    }
    
    .card__text-wrapper {
        color: inherit;
        padding-left: 51px;
        padding-top: 21px;
        > * {
            margin: 0;
            padding: 0;
            padding-bottom: 5px;
        }
        .card__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #666666;
        }
        .card__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
        
        }
        .card__taste {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .card__portion, .card__bonus
        {
            
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #666666;
            max-width: 127px;
            
        }
        .card__bonus {
            height: 2rem;
            overflow: hidden;
        }
    }
    .card__image-conteiner {
        background-size: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    
    //конец внутреннего контейнера карточки
    }
    //подпись под карточкой
    .card__undercard-description {
        text-align: center;
        color: #FFF;
        margin-top: 14px;
        font-size: 13px;
        span {
            color: var(--current-color);
            border-bottom: 2px var(--current-color) dashed;
            cursor: pointer;
            &:hover {
                border-bottom:none;  
            }
        }
        &.card__undercard-description_disabled {
            color: #FFFF66;
        }
    }
}

