* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.App {

    @media screen and (max-width: 1280px) {
        background-image: url('../public/images/Pattern@2x.png');
    }
    @media screen and (min-width: 1280px) {
        background-image: url('../public/images/Pattern.png');
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh ;
    
    .cards {
        max-width: 1280px;    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    
    }
    .main-header {
        font-family: 'Exo 2', sans-serif;
        text-transform: none;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px #000000;
        padding-top: 36px;
        padding-bottom: 25px;
    }

    .header-conteriner {
        width: 320px;
        height: 40px;
        background-color: #FFFFFF;
        .corner {
            width:40px;
            height: 40px;
            background: rgb(255,255,255);
background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(2,0,36,1) 10%, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 14%, rgba(255,255,255,1) 14%);
        }
        .header-text {
            //background-color: #FFFFFF;

        }
    }

}
